*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comon */
div,
li {
    min-height: 50px;
    border: 1px solid black;
}




/* header */
header{
    height: 90vh;
    position: fixed;
    float: left;
}
header nav {
    width: 200px;
    height: 90vh;
    position: relative;
    background-color: red;
}

nav .logo,
nav .home,
nav .serch,
nav .title_playlist,
nav .craft_playlist,
nav .playlist,
.nav_bottom .app,
.nav_bottom .utente{
    width: 100%;
    background-color: yellow;
}

.nav_bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* main */
main {
    width: calc(100% - 200px);
    height: 90vh;
    float: right;
    background-color: orange;
}

main .upgrade {
    width: calc(100% - 200px);
    height: 50px;
    position: fixed;
}
main .upgrade a {
    float: right;
    padding: 3px 10px;
    border-radius: 30px;
    border: 1px solid black;
}
main nav {
    margin-top: 50px;
}

main nav .conteiner-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main nav li {
    padding: 0 20px;
    list-style: none;
}

main .album .conteiner-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main .album li {
    width: calc(75% / 6);
    margin: 5px;
    list-style: none;
}

main .artist .conteiner-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main .artist li {
    width: calc(75% / 6);
    margin:0 2% ;
    list-style: none;
}


/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 90vh);
    background-color: green;
}
footer .conteiner-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer li {
    width: calc(100% / 3);
    list-style: none;
}
@media all and (min-width: 1140px) {
    .visible_only_xs{
        display: none;
    }
}
 @media all and (max-width: 878px) {
    .visible_only_xs{
        display: none;
    }
     main nav li {
         width: calc(100% / 5);
     }
    main .album li {
        width: calc(75% / 4);
        margin: 5px;
        list-style: none;
    }
}

 @media all and (max-width: 639px) {
     .visible_only_xs{
         display: none;
     }
    main nav li {
        width: calc(100% / 3);
    }
    main .album li {
        width: calc(75% / 2);
        margin: 5px;
        list-style: none;
    }
}

@media all and (max-width: 552px) {
    .visible_only_xs{
        display: block;
    }
    .not_visible_only_xs {
        display: none;
    }
    main nav li {
        width: calc(100% / 3);
    }
    main .album li {
        width: calc(75% / 2);
        margin: 5px;
        list-style: none;
    }
}
